.randomText{
    -fx-font-size: 50px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
}

.createNewAccountScreenAnchorPane{
    -fx-background-color: #00539C;
}

.MenuBar{
    -fx-background-color: #000000;
}

.Menu{
    -fx-text-fill: #ffffff;
}