.randomText{
    -fx-font-size: 50px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: black;
}

.createNewAccountScreenAnchorPane{
    -fx-background-color: #00539C;
}

.MenuBar{
    -fx-background-color: #1E90FF;
    -fx-font-size: 15px;
}

.menu-bar > .menu > .label{
    -fx-text-fill: #ffffff;
}
